:root {
    --orange: hsl(26, 100%, 55%),
    --pale: hsl(25, 100%, 94%)
   }
.container {
    margin-top: 7em;
    width: 80vw;
    height: 600px;
    margin-left: 10%;
    display: flex;
    justify-content: space-between;
    font-size: 16px;
}

.produto {
    width: 45%;
    display: flex;
    flex-direction: column;
}

.compra {
    width: 45%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
}

.compra p {
    width: 80%;
    font-size: 20px;
}

.fotos {
    display: flex;
    justify-content: center;
    gap: 1em;
    margin-top: 3em;
}

.fotos img {
    width: 90px;
    height: 90px;
    cursor: pointer;
    border-radius: 15px;
}
.fotomaior{
    width: 90%;
    background-color: blue;
    height: 80%;
    border-radius: 10%;
}

.foto1 {
    width: 100%;
    height: 100%;
    border-radius: 10%;
}

.prelogo {
    color: hsl(26, 100%, 55%);
    margin-top: 7em;
}

.logos {
    display: flex;
    flex-direction: column;
}

.logos h1 {
    font-weight: bold;
    font-size: 50px;
}

.compra p {
    
}

.valorAtual {
    display: flex;
    gap: 1em;
    font-size: 20px;
    font-weight: bold;
    padding-top: 2em;
}

.valorAtual section {
    background-color: hsl(231, 8%, 83%);
    color: hsl(26, 100%, 55%);
}

.valorPassado {
    display: flex;
    font-size: 20px;
    text-decoration: line-through;
    margin-bottom: 2em;
}

.quantidade {
    display: flex;
    height: 60px;
    align-items: center;
    margin-bottom: 10em;
}
.diminuir {
    height: 8px;
    width: 25px;
}

.aumentar {
    height: 20px;
    width: 25px;
}

.quadrado {
    background-color: hsl(223, 64%, 98%);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    border: 1px solid rgb(209, 208, 208);
    height: 35px;
}

.buttonComprar {
    margin-left: 4em;
    height: 50px;
    width: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.6em;
    background-color: hsl(26, 100%, 55%);
    color: white;
    border: 2px solid white;
    border-radius: 15px;
    font-size: 20px;
    font-weight: bold;
}

.carrinho {
    color: white;
}